[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sqlalchemy = "*"
pymysql = "*"
matplotlib = "*"
statsmodels = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.7"
